body{
    font-size: 75%;
    font-family: Arial, sans-serif;
    text-align: center;
}

header h1{
    color: #FFFFFF;
    font-size: 4em;
    display: inline;
    position: absolute;
    text-shadow: 0 0 5px #FFFFFF;
    line-height: 8%;
}

header img{
    width: 100%;
    box-shadow: 0 0 10px #000000;
}

/* CABEÇALHO */

/* CONTAINER */
#container{
    margin: 10%;
    width: 100%;
    text-align: left;
}
/* CONTAINER */

/* CONTENT */
#content p{
    line-height: 1.5em;
}
/* CONTENT */

/* NAVIGATION */
#navigation .tit-sub{
    text-align: center;
}
#navigation{
    background-color: #F6F0E0; 
}

#navigation ul li{
    margin-bottom: 5px;
    background-color: #0b340b;
    border: 2px solid;
    list-style-type: none;
}

#navigation ul li a{
    display: block;
    padding: 5px;      
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;

}
/* NAVIGATION */

/* EXTRA */
#extra{
    background-color: #F6F0E0;
}
/* EXTRA */

/* FOOTER */
#footer a{
    text-decoration: none;
    color: #FFFFFF;
}

#footer {
    background-color: #F6F0E0; 
    height: 100%;
    margin: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    background-image: url("../img/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* FOOTER */