
body{
    font-size: 75%;
    font-family: Arial, sans-serif;
    text-align: center;
}

header h1{
    color: #FFFFFF;
    font-size: 4em;
    display: inline;
    position: absolute;
    text-shadow: 0 0 5px #FFFFFF;
    line-height: 8%;
}

header img{
    width: 100%;
    box-shadow: 0 0 10px #000000;
}






